<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MasterMind</title>
    <link rel="icon" href="{% static 'images/MasterMindLogo.png' %}">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.1/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4bw+/aepP/YC94hEpVNVgiZdgIC5+VKNBQNGCHeKRQN+PtmoHDEXuppvnDJzQIu9" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'compiler.css' %}">
</head>
<body>
  <div class="container mt-2" >
    <div class="d-flex flex-wrap align-items-center justify-content-center justify-content-lg-start">
        
    <a class="navbar-brand h1 mt-2 fs-4" href="#" ><span style="color: #F89134;">Master</span>Mind</a>
    <ul class="nav col-12 col-lg-auto me-lg-auto mb-2 justify-content-center mb-md-0" speechify-initial-font-family="system-ui, -apple-system, &quot;Segoe UI&quot;, Roboto, &quot;Helvetica Neue&quot;, &quot;Noto Sans&quot;, &quot;Liberation Sans&quot;, Arial, sans-serif, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;, &quot;Segoe UI Symbol&quot;, &quot;Noto Color Emoji&quot;" speechify-initial-font-size="16px" style="font-family: system-ui, -apple-system, &quot;Segoe UI&quot;, Roboto, &quot;Helvetica Neue&quot;, &quot;Noto Sans&quot;, &quot;Liberation Sans&quot;, Arial, sans-serif, &quot;Apple Color Emoji&quot;, &quot;Segoe UI Emoji&quot;, &quot;Segoe UI Symbol&quot;, &quot;Noto Color Emoji&quot;; font-size: 16px;">
      <li ><a href="{% url 'main' %}" class="nav-link px-3 link-body-emphasis lh-sm " >Home</a></li>
      <li ><a href="{% url 'flashcard' %}" class="nav-link px-1 link-body-emphasis lh-sm" >Your Library</a></li>
      <li ><a href="{% url 'flashcard' %}" class="nav-link px-3 link-body-emphasis lh-sm" >Create Flash Card</a></li>
    </ul>

    <form class="col-6 col-lg-md mb-3 mb-lg-0 me-lg-3 " role="search" >
        <input type="search" class="form-control" placeholder="Study sets, textbook, questions" aria-label="Search" >
      </form>
   
      <div class="dropdown mx-3">
        <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle mb-1" data-bs-toggle="dropdown" aria-expanded="false">
          <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-people-fill" viewBox="0 0 16 16">
            <path d="M7 14s-1 0-1-1 1-4 5-4 5 3 5 4-1 1-1 1H7Zm4-6a3 3 0 1 0 0-6 3 3 0 0 0 0 6Zm-5.784 6A2.238 2.238 0 0 1 5 13c0-1.355.68-2.75 1.936-3.72A6.325 6.325 0 0 0 5 9c-4 0-5 3-5 4s1 1 1 1h4.216ZM4.5 8a2.5 2.5 0 1 0 0-5 2.5 2.5 0 0 0 0 5Z" />
          </svg>
        </a>
     
        <ul class="dropdown-menu text-center"  style="height: 230px; width: 240px;">
          <h6 class="drowdown-header">Your Groups</h6>
          <div class="dropdown-divider"></div>

          <div class="dropdown-scroll"style="max-height: 100px; overflow-y: auto;">
            <a class="dropdown-item" href="#">group A</a>
            <a class="dropdown-item" href="#">group B</a>
            <a class="dropdown-item" href="#">group C</a>
            <a class="dropdown-item" href="#">group D</a>
            <a class="dropdown-item" href="#">group E</a>
            <a class="dropdown-item" href="#">group F</a>
          </div>


          <div class="dropdown-divider"></div>
          <a href="#" class="btn btn-warning mt-2">Create group</a>
        </ul>
      </div>

    
    <div class="dropdown text-end">
      <a href="#" class="d-block link-body-emphasis text-decoration-none dropdown-toggle mb-1" data-bs-toggle="dropdown" aria-expanded="false">
        <svg xmlns="http://www.w3.org/2000/svg" width="18" height="18" fill="currentColor" class="bi bi-person-circle" viewBox="0 0 16 16">
          <path d="M11 6a3 3 0 1 1-6 0 3 3 0 0 1 6 0z"/>
          <path fill-rule="evenodd" d="M0 8a8 8 0 1 1 16 0A8 8 0 0 1 0 8zm8-7a7 7 0 0 0-5.468 11.37C3.242 11.226 4.805 10 8 10s4.757 1.225 5.468 2.37A7 7 0 0 0 8 1z"/>
        </svg>
      </a>
      <ul class="dropdown-menu text-small">
        <li  speechify-initial-font-size="13.6px" ><a class="dropdown-item" href="#">New project</a></li>
        <li  speechify-initial-font-size="13.6px" ><a class="dropdown-item" href="#">Settings</a></li>
        <li  speechify-initial-font-size="13.6px" ><a class="dropdown-item" href="{% url 'profile' %}">Profile</a></li>
        <li  speechify-initial-font-size="13.6px" ><a class="dropdown-item" href="{% url 'login' %}">Sign out</a></li>
      </ul>
    </div>

  </div>
</div>
<div id="container">
  <form id="code-input" method="post">
      {% csrf_token %}
      <textarea id="code" name="code" rows="auto" cols="auto" placeholder="print('Hello World!');"></textarea>
      <br>
      <button type="submit" id="compilebtn">COMPILE</button>
  </form>

  <div id="result-output">
      {% if submission %}
          <pre>{{ submission.result }}</pre>
      {% endif %}
  </div>
</div>


</body>
</html>