<!DOCTYPE html>
<html lang="en">
<head>
  {% load static %}
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>MasterMind</title>
  <link rel="stylesheet" href="{% static 'landingpage.css' %}">
  <link rel="preconnect" href="https://fonts.googleapis.com">
  <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
  <link href="https://fonts.googleapis.com/css2?family=Josefin+Sans:ital,wght@0,400;0,600;0,700;1,400;1,500;1,600;1,700&display=swap" rel="stylesheet">
</head>
<body>
  <div id="landingpage">
    <div id="logocontainer">
         <svg class="blob" viewBox="0 0 1000 1000" xmlns="http://www.w3.org/2000/svg"><defs><radialGradient id="b" r="100%" cx="75%" cy="70%"><stop offset="0%" stop-color="#FAD961"/><stop offset="100%" stop-color="#F76B1C"/></radialGradient><clipPath id="a"><path fill="currentColor" d="M820.5 627.5Q851 755 752.5 865t-222 15.5Q407 786 274.5 773T158 630q16-130 21-245t121-128.5q116-13.5 229.5-105t177.5 30q64 121.5 73.5 220t40 226Z"/></clipPath></defs><g clip-path="url(#a)"><path fill="url(#b)" d="M820.5 627.5Q851 755 752.5 865t-222 15.5Q407 786 274.5 773T158 630q16-130 21-245t121-128.5q116-13.5 229.5-105t177.5 30q64 121.5 73.5 220t40 226Z"/></g></svg>
        <img src="{% static 'images/MasterMindLogo.png' %}" alt="MasterMindLogo" class="landinglogo" >
    </div>
    <div id="content">
      <h1>Master Mind</h1>
      <p>Unleash your inner quiz whiz with MasterMind, the most captivating quiz app that challenges, entertains, and educates!
      </p>
    </div>
    <a href="login"> <button type="button" class="startbtn">Get Started</button> </a>
    <br><br><br><br><br>
  </div>
</body>
</html>