*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
body{
  width: 100%;
  height: 100vh;
  background-color: #FFFADA;
  display: flex;
  align-items: center;
  flex-direction: column;
  gap: 2em;
}
#container{
  width: 90%;
  height: 90%; 
  display: grid;
  place-items: center;
}
#container form{
  width: 90%;
  height: 90%;
  display: flex;
  align-items: center;
  flex-direction: column;
}
